@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 50%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  background: rgb(63,251,225);
  background: radial-gradient(circle, rgba(63,251,225,1) 0%, rgba(80,70,252,1) 100%);
  position: absolute;
  content: "";
  height: 100%;
  filter: blur(150px) saturate(150%);
  top: 80px;
  opacity: 0.5;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.button {
  @apply rounded-full border border-black bg-white py-1.5 px-5 text-sm text-black transition-all hover:bg-white hover:text-black;
}

.title {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl text-center;
}

.text_gradient {
  @apply bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-100% to-emerald-500 to-100% bg-clip-text text-transparent;
}

.subtitle {
  @apply mt-6 text-lg text-gray-600 text-center
}

.input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 text-sm shadow-lg focus:border-black focus:outline-none focus:ring-0;
}

.submit_button {
  @apply hover:border-gray-700 hover:text-gray-700 flex w-20 items-center justify-center rounded border border-gray-200 font-sans text-sm font-medium text-black;
}

.summary_box {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-4;
}

.loader {
  @apply flex justify-center items-center
}